<div id="header">
  <div id="container">

          </div>
</div>
<div id="navbar">
      <div id="flat_logo"><h2>Nodecommerce</h2></div>
      <div id="opt1"><a href="/cart">Carrinho</a></div>
      <div id="opt2"><a href="/login">Login</a></div>
      <div id="opt3"><a href="/new-user">Cadastro</a></div>
</div>


<div id="conteudo">

{{#each produtos}}
<div id="pizza">
   <a href="product-details?id={{dataValues.id}}">
	<div id="pizza_foto">

		 </div>
         </a>

        {{dataValues.nome}}


	</div>
    {{/each}}


</div>	

</div>











{{!-- 
<h1>Lista de produtos</h1>

            {{#each produtos}}
            <h1>{{dataValues.nome}}</h1><br>
            {{dataValues.descricao}}<br>
            {{dataValues.preco_custo}}<br>
            {{dataValues.preco_venda}}<br>
            {{dataValues.qtd_estoque}}<br>
            {{dataValues.qtd_vendidos}}<br>
            {{dataValues.barcode}}<br>
            <hr>

            {{/each}} --}}

